.button{
	display: inline-block;
	background-color: $first-color;
	color:#fff;
	padding: 1rem 1.5rem;
	border-radius: .5rem;
	font-weight: $font-semi-bold;
	transition: .3s;
	&:hover{
		background-color: $first-color-alt;
	}

	&-link{
		background-color: unset;
		padding: 0;
		color: $first-color;
		&:hover{
			background-color: transparent;
			color:$first-color-alt;
		}
	}
}